{% extends "base.html" %}
{% block title%}
    <title>Home Page</title>
{% endblock title%}

{% block body%}
    
    <div class="users">
    <ol>
        <h1 class="user">
            Xoşgəldin  
            {% if user.is_authenticated %}
                {{ user.username }}
            {% else %}
                User
            {% endif %}
        </h1>
        {%for user in users%}
        <li class="write">
            <h3>Müəllif : {{user.author}}</h3>
            <h4>{{user.name}} {{user.surname}}</h4>
            <p>Work : {{user.work}}</p>
            <p>About : {{user.about}}</p>
            <small>Added time :{{user.create_time}}</small>
        </li>
        {% endfor%}
    </ol>
</div>
{% endblock body%}